<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<!-- remove any machine-wide sources with <clear/> -->
		<clear />
		<add key="Aeonic-Tech-Nuget"
		     value="https://pkgs.dev.azure.com/Aeonic-Tech/_packaging/Aeonic-Tech-Nuget/nuget/v3/index.json" />
		<!-- also get packages from the NuGet,org Gallery -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
		<Aeonic-Tech-Nuget>
			<add key="Username" value="jeff@aeonic-tech.com" />
			<add key="ClearTextPassword" value="76l44y4zvk6ljl5ctv2l5qkuxvap74e4nefveip3lqeggz2wd4ga" />
		</Aeonic-Tech-Nuget>
	</packageSourceCredentials>
</configuration>